.bg{
    background-color: gray;
}
.c1{
color: white;
background-color: red;
}
.c2{
    color: white;
    background-color: green;
    }
    .c3{
        color: white;
        background-color: blue;
        }
        .c4{
            color: white;
            background-color:darkred;
            }
            .c5{
                color: white;
                background-color:lawngreen;
                }